# Pycharm and VSC settings, virtual env
.idea/
.vscode/
.venv
__pycache__/
*.pyc

# Tryouts and experiments
prove/
*/prove/
trials

# Logs
/omid_openalex/preprocess/*.log
*.log

# other
/omid_openalex/preprocess/oa_ids_tables.db
*.db
/omid_openalex/preprocess/prove.py
/prove/experiment.py
graphs/
iframe_figures/
**/*.ipynb_checkpoints/
/omid_openalex/logs/
*/.ipynb_checkpoints/
/analytics/multi_mapped_omids.csv
/omid_openalex/preprocess/.ipynb_checkpoints/
/omid_openalex/process/new_mapping_main.py
