# Pycharm and VSC settings, virtual env, Jupyter Notebook checkpoints
.idea/
.idea
.vscode/
.venv
__pycache__/
*.pyc
**/.ipynb_checkpoints

# Logs
**/*.log

# other
**/analytics/get_preprint_prefix.py
data/
tmp/
archive
**/*.db