# Pycharm and VSC settings, virtual env
.idea/
.idea
.vscode/
.venv
__pycache__/
*.pyc

# Tryouts and experiments
prove/
*/prove/
trials

# Logs
/omid_openalex/preprocess/*.log
*.log

# Docs
docs/

# other
*.db
/omid_openalex/omid_openalex/prove.py
/prove/experiment.py
graphs/
iframe_figures/
**/*.ipynb_checkpoints/
/omid_openalex/logs/
*/.ipynb_checkpoints/
/analytics/multi_mapped_omids.csv
/omid_openalex/omid_openalex/.ipynb_checkpoints/
/omid_openalex/process/new_mapping_main.py
analytics/basic_stats.py
/analytics/temp.py
/analytics/multi_mapped_venues.csv
/analytics/multi_mapped_primary_ents.csv
.idea/misc.xml
/data/
/.idea/
/analytics/prova_provenance.py
/analytics/provenance_analysis.ipynb
/analytics/provenance.db
analytics/__pycache__/__init__.cpython-39.pyc
